<div data-search-services-target="list">
  <div class="results">
    <% if params[:query].blank? %>
      <h1 class="h3"><%= pluralize services.count, 'service' %> available</h1>
    <% else %>
      <h1 class="h3"><%= pluralize services.count, 'result' %> for <code><%= params[:query] %></code></h1>
    <% end %>
  </div>
  <div class="services">
    <div class=" mt-3 cards">
      <% services.each do |service| %>
        <a href="<%= new_service_user_service_path(service)  %>"><div class="card-category bg-gradient-to-r from-red-900 to-gray-900" style="text-align: center">
            <% if service.photo.attached? %>
              <%= cl_image_tag service.photo.key, class: "card-category-image" %>
            <% else %>
              <%= image_tag 'logo.png', class: "card-category-image" %>
            <% end %>
          <h2><%= service.name%></h2>
      </div></a>
      <% end %>
    </div>
  </div>
</div>
