<div class="container">
  <div class="row justify-content-center">
    <div class="form-new">
      <%= image_tag("logo.png") %><h2>Add this service to track</h2>
      <div class="container pt-5" data-controller="flatpickr">
        <%= simple_form_for [@service, @user_service] do |f| %>
          <%= f.input :hour_spent_per_month, placeholder: "Number of hours", class:'col-12'  %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, class:'col-12' %>
          <% case @service.category %>
            <% when 'Streaming' %>
              <%= f.input :genre, collection: ['kids/family', 'movie/series', 'documentary', 'stand up', 'other'], class:'col-12'  %>
            <% when 'Media' %>
              <%= f.input :genre, collection: ['Politic', 'Ecology/Nature', 'Business/Finance', 'Caricature', 'Kids', 'Fashion', 'Lifestyle/DIY', 'Sport', 'other'], class:'col-12'  %>
            <% when 'Video Games' %>
              <%= f.input :genre, collection: ['Survavil/Horror/War', 'Simulation/Sports', 'Strategy/Logic/Education', 'Action/Adventure', 'Kids', 'Family', 'other' ], class:'col-12'  %>
            <% when 'Music' %>
              <%= f.input :genre, collection: ['music', 'ASMR', 'other'], class:'col-12'  %>
            <% when 'Professional' %>
              <%= f.input :genre, collection: ['languages', 'desktop spreadsheet software', 'school/learning', 'work', 'other'], class:'col-12'  %>
            <% else %>
              <%= f.input :genre, collection: ['vpn', 'other'], class:'col-12'  %>
          <% end %>
          <%= f.input :price_per_month, placeholder: "Price in €", class:'col-12' %>
          <div class="container d-flex justify-content-center text-center pb-5">
            <div class="flex" style="justify-content: space-between;">
              <%= f.submit class:'btn'%>
              <%= link_to 'Cancel', services_path, class:'btn btn-delete' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
