<div class="container">
  <%= simple_form_for(@user_service) do |f| %>
      <%= f.input :api_key, class: '' %>
      <%= f.input :time_spent_per_month, placeholder: "Number of hours"  %>
      <%= f.input :start_date, placeholder: "When did you start your subscription?" %>
      <%#= f.input :genre, :collection %>
      <% case %>
        <% when @service.category == 'streaming' %>
          <%= f.input :genre, collection: ['Action', 'Comedy', 'Drama', 'Fantasy', 'Horror/mystery', 'Romance',
                                           'Thriller', 'kids/family', 'documentary']  %>
        <% when @service.category == 'media' %>
          <%= f.input :genre, collection: ['Politic', 'Ecology/Nature', 'Business/Finance', 'Caricature', 'Kids', 'Fashion', 'Lifestyle/DIY', 'Sport']  %>
        <% when @service.category == 'Video Games' %>
          <%= f.input :genre, collection: ['Survavil/Horror/War', 'Simulation/Sports', 'Strategy/Logic/Education', 'Action/Adventure', 'Kids', 'Family' ]  %>
        <% when @service.category == 'music' %>
          <% f.input :genre, collection: ['pop', 'rap', 'rnb', 'classic', 'electro', 'ASMR', 'rock', 'latino', 'afrobeat', 'opera', 'reggea', 'alternative', 'folx & acoustic', 'soul & funk', 'Jazz', 'arabic', 'asian']  %>
        <% when @service.category == 'professional' %>
          <%= f.input :genre, collection: ['languages', 'desktop spreadsheet software']  %>
    <% end %>
      <%= f.input :price_per_month, placeholder: "Price in €" %>
      <%= f.submit class:'stylised-button'%>
      <% if @service.id == nil %>
        <%= link_to 'Cancel', services_path, class:'stylised-button' %>
      <% else %>
        <%= link_to 'Cancel', service_path(@service), class:'stylised-button' %>
      <% end %>
  <% end %>
</div>
