<body class="font-sans leading-normal tracking-normal">
  <main>
    <div class="flex flex-col md:flex-row">
      <nav aria-label="alternative-nav">
        <div class="shadow-xl h-20 fixed bottom-0 md:relative md:h-screen z-10 w-full md:w-48 content-center">
          <div class="md:mt-3 md:w-48 md:left-0 md:top-0 content-center md:content-start text-left justify-between">
            <ul class="list-reset flex flex-col md:flex-col pt-1 md:py-3 px-1 md:px-2 text-center md:text-left">
              <li class="mr-3 flex-1">
                <a href="<%= user_details_path(current_user)%>" class="block py-1 md:py-3 pl-1 align-middle no-underline">
                  <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Your Details</span>
                </a>
              </li>
              <li class="mr-3 flex-1">
                <a href="<%= dashboard_path(current_user)%>" class="block py-1 md:py-3 pl-1 align-middle no-underline">
                  <i class="fas fa-chart-area pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Analytics</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section>
        <div id="main" class="main-content flex-1 pb-24 md:pb-5">
          <div class="title bg-gradient-to-r from-red-900 to-gray-900 p-4 shadow text-2xl">
            <h1 class="font-bold pl-2">Your <%= @user_service.service.name %> subscription details</h1>
          </div>
          <div class="container" style="height: 90vh;">
            <div class="p-6 w-full h-full" style="width: 100%; height: 100%">
              <!--Metric Card-->
              <div class="card-show p-2 m-3 " style="width: 100%; height: 95%">
                  <div class="card-position-relative rounded-full">
                    <%= cl_image_tag @user_service.service.photo.key, style: "object-fit: cover; border-radius: 50%; height: 150px; width: 150px;" %>
                  </div>
                <div class=" d-flex align-items-center justify-center">
                  <h2 class="font-bold uppercase text-4xl p-2"><%= @user_service.service.name %></h2>
                </div>
                <div class="card-show-body p-3 justify-content-center">
                  <div class="flex-1 text-center" style="height: 100%">
                    <div class="d-flex justify-content-around" style="height: 70%">
                      <div class="card-service-info d-flex flex-column justify-center bg-gradient-to-r from-red-900 to-gray-900 p-4">
                        <h4 class="font-bold text-3xl p-2">Prices:</h4>
                        <p class="font-bold text-2xl p-2"><%= @user_service.price_per_month %>€/month</p>
                        <p class="font-bold text-2xl p-2"><%= @user_service.price_per_month * 12 %>€/year</p>
                        <h4 class="font-bold text-2xl p-2">Total amount paid:</h4>
                        <p class="font-bold text-2xl p-2 justify-center"><%= @user_service.amount_paid %>€</p>
                      </div>
                      <div class="card-service-info d-flex flex-column justify-center bg-gradient-to-r from-red-900 to-gray-900 p-4">
                        <h4 class="font-bold text-3xl p-2">Hours:</h4>
                        <p class="font-bold text-2xl p-2"><%= @user_service.hour_spent_per_month %>h/month </p>
                        <p class="font-bold text-2xl p-2"><%= @user_service.hour_spent_per_month * 12%>h/year </p>
                        <h4 class="font-bold text-2xl p-2">Total hours spent:</h4>
                        <p class="font-bold text-2xl p-2"><%= @user_service.subscription_time * @user_service.hour_spent_per_month%>h </p>
                      </div>
                    </div>
                    <div class="card-service-payment align-items-start flex-column bg-gradient-to-r from-red-900 to-gray-900 d-flex m-5">
                      <h4 class="justify-content-start font-bold text-2xl p-2 ml-3">Payement due in <span><%= @user_service.due_date %></span> days</h4>
                      <h4 class="justify-content-start font-bold text-2xl p-2 ml-3">Subscribed since the: <span><%= @user_service.start_date %></span></h4>
                    </div>
                    <div class="align-items-start justify-content-between d-flex ml-5 pl-5">
                      <%= link_to "✏️", edit_user_service_path(@user_service), class: "user-service-emoji"%>
                      <%= link_to "Delete", user_service_path(@user_service), method: :delete, data: { confirm: "Are you sure you want to delete this Service?"}, class: "btn-delete mr-5"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
