<body class="font-sans leading-normal tracking-normal">
  <main>
    <div class="flex flex-col md:flex-row">
      <nav aria-label="alternative-nav">
        <div class="shadow-xl h-20 fixed bottom-0 md:relative md:h-screen z-10 w-full md:w-48 content-center">
          <div class="md:mt-3 md:w-48 md:left-0 md:top-0 content-center md:content-start text-left justify-between">
            <ul class="list-reset flex flex-col md:flex-col pt-1 md:py-3 px-1 md:px-2 text-center md:text-left">
              <% if params[:controller] == "pages" && params[:action] == "dashboard" %>
                <li class="mr-3 flex-1">
                  <a href="<%= dashboard_path(current_user)%>" class="active block py-1 md:py-3 pl-1 align-middle no-underline">
                    <i class="fas fa-chart-area pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block"style="font-size: 20px">Analytics</span>
                  </a>
                </li>
              <% else %>
                <li class="mr-3 flex-1">
                  <a href="<%= dashboard_path(current_user)%>" class="block py-1 md:py-3 pl-1 align-middle no-underline">
                    <i class="fas fa-chart-area pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Analytics</span>
                  </a>
                </li>
              <% end %>
              <% current_user.user_services.each do |user_service| %>
                <li class="mr-3 flex-1 block py-1 md:py-3 pl-1 align-middle no-underline">
                  <%= link_to user_service.service.name, user_service_path(user_service), class: 'pb-1 md:pb-0 text-xs md:text-base block' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <section class="principal">
        <div id="main" class="main-content flex-1 pb-24 md:pb-5">
          <div class="title bg-gradient-to-r from-red-900 to-gray-900 p-4 shadow text-2xl">
            <h1 class="font-bold pl-2"style="font-size: 28px">Analytics</h1>
          </div>
          <div class="d-flex pt-3 mb-3" style="justify-content: space-evenly;">
            <div id="graphs" class="flex items-center">
              <div class="pr-5">
                <h2 class="md:text-center mb-3" style="font-size: 20px">What do you use?</h2>
                <%= pie_chart(current_user.services.group(:category).count,
                              colors: ["#b30000", "#7c1158", "#4421af", "#1a53ff", "#0d88e6", "#00b7c7"],
                              donut: true,
                              library: {
                                fontSize: 40
                              },
                              legend: "bottom",
                              height: "350px",
                              width: "100%") %>
              </div>
              <div>
                <h2 class="md:text-center pb-2"style="font-size: 20px">How much do you pay?</h2>
                <%= column_chart(current_user.services.group(:name).sum(:price_per_month),
                              colors: ["#ca5310"],
                              donut: true,
                              ytitle: "€ /month",
                              height: "350px",
                              width: "100%",
                              discrete: true,
                              fontColor: "yellow") %>
              </div>
            </div>
          </div>
          <hr id="separator">
          <div class="flex flex-wrap">
            <% current_user.user_services.each do |user_service| %>
              <a href="<%=  user_service_path(user_service)  %>"><div class="w-full md:w-1/2 xl:w-1/3 p-6">
                <!--Metric Card-->
                <div class="card-user-service bg-gradient-to-r from-red-900 to-gray-900 border-b-4 border-gray-900 rounded-lg shadow-xl p-5">
                  <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                      <div class="rounded-full"><%= cl_image_tag user_service.service.photo.key, style: "object-fit: cover; border-radius: 50%; height: 100px; width: 100px;" %></div>
                    </div>
                    <div class="flex-1 text-right md:text-center" style="display: block; text-align-last: end;">
                      <h2 class="font-bold uppercase"><%= user_service.service.name %></h2>
                      <div class="pt-2">
                        <p class="font-bold text-2xl"><span><%= user_service.price_per_month %>€</span> /month</p>
                        <p class="font-bold text-2xl"><span><%= user_service.hour_spent_per_month %>h</span> /month</p>
                      </div>
                      <p class="font-bold text-2xl"><span><%= (user_service.price_per_month.to_f / user_service.hour_spent_per_month).round(2) %>€</span> /hour</p>
                    </div>
                  </div>
                </div></a>
                <!--/Metric Card-->
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
