<body class="font-sans leading-normal tracking-normal">
  <main>
    <div class="flex flex-col md:flex-row">
      <nav aria-label="alternative-nav">
        <div class="shadow-xl h-20 fixed bottom-0 md:relative md:h-screen z-10 w-full md:w-48 content-center">
          <div class="md:mt-3 md:w-48 md:left-0 md:top-0 content-center md:content-start text-left justify-between">
            <ul class="list-reset flex flex-col md:flex-col pt-1 md:py-3 px-1 md:px-2 text-center md:text-left">
              <li class="mr-3 flex-1">
                <a href="http://localhost:3000/user_details" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:border-b-2 border-gray-800 ">
                  <i class="fas fa-tasks pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Your Details</span>
                </a>
              </li>
              <li class="mr-3 flex-1">
                <a href="http://localhost:3000/dashboard" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:border-b-2 border-blue-600">
                  <i class="fas fa-chart-area pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Analytics</span>
                 </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section>
        <div id="main" class="main-content flex-1 pb-24 md:pb-5">
          <div class="title bg-gradient-to-r from-red-900 to-gray-900 p-4 shadow text-2xl">
            <h1 class="font-bold pl-2">Your details</h1>
          </div>
          <div class="flex flex-wrap">
            <div class="container">
              <div class="main-body">
                <div class="row gutters-sm">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                          <% if current_user.photo.attached? %>
                            <%= cl_image_tag current_user.photo.key, class:'dashboard-avatar'%>
                          <% else %>
                            <%= image_tag 'profilepicture.jpg', class:'dashboard-avatar'%>
                          <% end %>
                          <div class="mt-3">
                            <h4 class="welcometext"><%= current_user.first_name %></h4>
                            <p class="text-secondary mb-1">Costume freak</p>
                            <p class="text-muted font-size-sm">Somewhere</p>
                            <%# <button class="btn btn-outline-primary">Contact</button> %>
                            <%# need to display our form for edit profile here  %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0  text2">Full Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <%= "#{current_user.first_name} #{current_user.last_name}" %>
                          </div>
                        </div>
                        <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0 text2">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= current_user.email %>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-12">
                              <%= link_to "Make it shine", edit_user_registration_path(current_user), class: "stylised-button" %>
                              <%# <a class="btn btn-info" target="__blank" href="">Make it shine!</a> %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3 text2">Your s'tumes' bookings</h6>
                              <div class="d-flex flex-column align-items-center text-center">
                                <small>Nothing here... For now!</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                          <div class="card h-10">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3 text2">Hello</h6>
                              <div class="d-flex flex-column align-items-center text-center">
                                <small>World</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
